*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* loader */
.spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  z-index: 9999;
  background-image: url(images/doctor_with_phone.png) ;
  background-size: 100vh 100vh;

}
.form-btn {
  width: 250px !important;
  margin-top: 30px !important;
}
.card{
  
  left: 40%;
  padding :10 10 10;
}

